* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "PT Sans", sans-serif !important;
}
body::-webkit-scrollbar {
  display: none;
}
.App {
  /* background-color: lightgreen; */
  min-height: 200vh;
}
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
